# Database
DATABASE_URL=postgresql://user:pass@localhost:5432/dbname
DB_TABLE=ingested_data


# Folders
PARQUET_DIR=parquet
FAILED_DIR=failed_chunks
MEDIA_DIR=media


# Ingestion
CHUNK_SIZE=10000
PARALLELISM=4
VALIDATE_COORDS=false
INT_COLUMNS=year,individualCount


# Metrics & Logging
METRICS_FILE=media/ingestion_metrics.csv
LOG_FILE=ingestion.log


# Throttling
CPU_THRESHOLD=85
THROTTLE_DELAY_HIGH_CPU=2
THROTTLE_DELAY=0