# Ignore data and outputs
*.csv
*.log
*.html

# Ignoring specific raw/input/data/inspect files
occurrence.txt
inspect_parquet.py
check_nulls.py
create_table.py
ingestion.log
metrics_log.csv
map.html

# Environment + build
__pycache__/
.venv/
.env
parquet_files/

# Temporary scripts
plot_coords_map.py